%h1
  Orders
  = link_to 'Add New Order', 'javascript:void(0)', class: 'button primary float-right', data: {open: 'ajax-reveal', url: new_order_path}

.table-scroll
  %table.striped.hover.table-striped.stack
    %thead
      %tr
        %th Id
        %th User
        %th Payment mode
        %th Status
        %th Total
        %th Actions

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.id
          %td= order.user.name
          %td= order.payment_mode
          %td= order.status
          %td= order.total
          %td
            .button-group
              = link_to 'Show', 'javascript:void(0)', class: 'button success', data: {open: 'ajax-reveal', url: order_path(order)}
              = link_to 'Edit', 'javascript:void(0)', class: 'button warning', data: {open: 'ajax-reveal', url: edit_order_path(order)}
              = link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure you want to delete this Order?' }, class: 'button alert'
