.row
  %strong Id:
  = @order.id
.row
  %strong User:
  = @order.user.name
.row
  %strong Payment mode:
  = @order.payment_mode
.row
  %strong Status:
  = @order.status
.row
  %strong Total:
  = @order.total
.row
  = link_to 'Edit', 'javascript:void(0)', class: 'button primary', data: {open: 'ajax-reveal', url: edit_order_path(@order)}
  = close_reveal_button # TODO: Add this method to be copied via generator