.row
  %strong Id:
  = @food.id
.row
  %strong Name:
  = @food.name
.row
  %strong Price:
  = @food.price
.row
  %strong Available:
  = @food.available
.row
  = link_to 'Edit', 'javascript:void(0)', class: 'button primary', data: {open: 'ajax-reveal', url: edit_food_path(@food)}
  = close_reveal_button # TODO: Add this method to be copied via generator