= form_with(model: object, remote: true) do |f|
  - if object.errors.any?
    #error_explanation
      %p= "#{pluralize(object.errors.count, "error")} prohibited this Product from being saved:"
      %ul
        - object.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :name
    = f.text_field :name
  .row
    = f.label :quantity
    = f.number_field :quantity
  .row
    = f.label :unit
    = f.collection_select :unit, Product.units, :first, :first
  .row
    = f.label :price
    = f.number_field :price
  .row
    = f.label :availability
    = f.check_box :availability
  .row
    = f.label :image
    = f.file_field :image
    
  = render 'shared/timestamps', f: f # TODO: Add this partial to generator
  = render 'shared/reveal_footer', f: f # TODO: Add this partial to generator