%h1
  Products
  = link_to 'Add New Product', 'javascript:void(0)', class: 'button primary float-right', data: {open: 'ajax-reveal', url: new_product_path}

.table-scroll
  %table.striped.hover.table-striped.stack
    %thead
      %tr
        %th Id
        %th Name
        %th Quantity
        %th Unit
        %th Price
        %th Image
        %th Availability
        %th Actions

    %tbody
      - @products.each do |product|
        %tr
          %td= product.id
          %td= product.name
          %td= product.quantity
          %td= product.unit
          %td= product.price
          %td= image_tag(product.image, class: 'thumbnail in-table')
          %td= product.availability_label
          %td
            .button-group
              = link_to 'Show', 'javascript:void(0)', class: 'button success', data: {open: 'ajax-reveal', url: product_path(product)}
              = link_to 'Edit', 'javascript:void(0)', class: 'button warning', data: {open: 'ajax-reveal', url: edit_product_path(product)}
              = link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure you want to delete this Product?' }, class: 'button alert'
