.row
  %strong Id:
  = @product.id
.row
  %strong Name:
  = @product.name
.row
  %strong Price:
  = @product.price
.row
  %strong Available:
  = @product.available
.row
  = link_to 'Edit', 'javascript:void(0)', class: 'button primary', data: {open: 'ajax-reveal', url: edit_product_path(@product)}
  = close_reveal_button # TODO: Add this method to be copied via generator